= form_for(@creative) do |f|
  - if @creative.errors.any?
    #error_explanation
      %h2= "#{pluralize(@creative.errors.count, "error")} prohibited this creative from being saved:"
      %ul
        - @creative.errors.full_messages.each do |message|
          %li= message

  .field.is-horizontal
    .field-label.is-normal
      %label.label クリエイティブ名
    .field-body
      .field
        .control
          = f.text_field :title, class: 'input'
        .help VASTには出力されない
    
  = f.fields_for :vast_structure do |vs|
    .field.is-horizontal
      .field-label.is-normal
        %label.label AdTitle
      .field-body
        .field
          .control
            = vs.text_field :ad_title, class: 'input', placeholder: "e.g. 商品名"

    = vs.fields_for :linear_structures do |ls|
      %br
      %br

      = ls.fields_for :media_file_group do |mfg|
        .field.is-horizontal
          .field-label
            %label.label 動画エンコード
          .field-body
            .field.is-narrow
              %control
                %label.radio
                  = mfg.radio_button :video_upload_format, :external_host
                  外部ホストをエンコードなしで利用
                %br
                %label.radio
                  = mfg.radio_button :video_upload_format, :simple_video_upload
                  アップロードファイル
                %br
                %label.radio
                  = mfg.radio_button :video_upload_format, :custom_overlay_image
                  アップロードファイル + 画像オーバーレイ
                %br
                %label.radio
                  = mfg.radio_button :video_upload_format, :qr_code_image
                  アップロードファイル + QRコード自動生成オーバーレイ
 
        .field.is-horizontal
          .field-label.is-normal
            %label.label 外部ファイルURL
          .field-body
            .field
              .control
                = mfg.text_field :external_file_url_text, class: 'input'
        .field.is-horizontal
          .field-label.is-normal
            %label.label 動画ファイル
          .field-body
            .file
              %label.file-label
                = mfg.file_field :original_media_file, class: 'file-input'
                %span.file-cta
                  %span.file-label
                    Choose a file...
        .field.is-horizontal
          .field-label.is-normal
            %label.label オーバーレイ画像
          .field-body
            .file
              %label.file-label
                = mfg.file_field :overlay_image_file, class: 'file-input'
                %span.file-cta
                  %span.file-label
                    Choose a file...
        .field.is-horizontal
          .field-label.is-normal
            %label.label QRリンク先URL
          .field-body
            .field
              .control
                = mfg.text_field :qr_url, class: 'input', placeholder: "https://"
 
      %br
      %br

      = ls.simple_fields_for :icon_structures do |is|
        = is.simple_fields_for :icon_resource do |ir|
          .box
            .field.is-horizontal
              .field-label.is-normal
                %label.label アイコン名
              .field-body
                .field
                  .control
                    = is.text_field :program, class: 'input'
            .field.is-horizontal
              .field-label.is-normal
                %label.label フォーマット
              .field-body
                .field
                  .control.select
                    = ir.select :format, IconResource.format.options
            .field.is-horizontal
              .field-label.is-normal
                %label.label アイコン画像
              .field-body
                .file
                  %label.file-label
                    = ir.file_field :icon_file, class: 'file-input'
                    %span.file-cta
                      %span.file-label
                        Choose a file...
            .field.is-horizontal
              .field-label.is-normal
                %label.label 横の位置
              .field-body
                .field
                  .control
                    = is.text_field :x_position, class: 'input'
                  .help left もしくは right もしくは 左端からのpx数 
            .field.is-horizontal
              .field-label.is-normal
                %label.label 縦の位置
              .field-body
                .field
                  .control
                    = is.text_field :y_position, class: 'input'
                  .help top もしくは bottom もしくは 上端からのpx数 
            .field.is-horizontal
              .field-label.is-normal
                %label.label 表示開始時間(秒)
              .field-body
                .field
                  .control
                    = is.number_field :offset, class: 'input'
            .field.is-horizontal
              .field-label.is-normal
                %label.label 表示時間(秒)
              .field-body
                .field
                  .control
                    = is.number_field :duration, class: 'input'
            .field.is-horizontal
              .field-label.is-normal
                %label.label デフォルト文言
              .field-body
                .field
                  .control
                    = ir.text_field :ov_default_text, class: 'input'
                  .help アイコンに文言をオーバーレイ表示させる場合のデフォルト文言
            .field.is-horizontal
              .field-label.is-normal
                %label.label QRリンク先URL
              .field-body
                .field
                  .control
                    = ir.text_field :qr_url, class: 'input'
                  .help アイコンにQRコードをオーバーレイ表示させる場合のURL

  .field.is-horizontal
    .field-label
      / Left empty for spacing
    .field-body
      .field
        .control
          = f.submit "作成", class: "button is-info"
