%h1.title Creative 一覧

%table.table
  %thead
    %tr
      %th ID
      %th Title
      %th
      %th
      %th

  %tbody
    - @creatives.each do |creative|
      %tr
        %td= creative.id
        %td= creative.title
        %td= link_to 'Show', creative
        %td= link_to 'Edit', edit_creative_path(creative)
        %td= button_to 'Destroy', creative, method: :delete, data: { confirm: 'Are you sure?' }