- mfg = @creative.vast_structure.linear_structures.first.media_file_group

%p#notice= notice

%h1.title
  = "Creative ##{@creative.id} #{@creative.title}"

%h2.subtitle Creative情報
.box
  .field.is-horizontal
    .field-label
      %label.label AdTitle
    .field-body
      = @creative.vast_structure.ad_title

%h2.subtitle MediaFile
.box
  .field.is-horizontal
    .field-label
      %label.label Duration
    .field-body
      = mfg.duration

  .field.is-horizontal
    .field-label
      %label.label Video Upload Format
    .field-body
      = mfg.video_upload_format

  .field.is-horizontal
    .field-label
    .field-body
      - if mfg.video_upload_format.external_host?
        - mfg.external_media_files.each do |mfs|
          %table.table
            %thead
              %tr
                %th file_name
                %th mime type
                %th widh
                %th height
                %th bitrate
                %th codec
                %th duration
                %th file size
            %tbody
              %tr
                %td= link_to(File.basename(mfs.external_host_url), mfs.external_host_url)
                %td= mfs.mime_type
                %td= mfs.width
                %td= mfs.height
                %td= "#{(mfs.bitrate / (2 ** 10).to_f).round(-2)}kbps"
                %td= mfs.codec
                %td= mfs.duration.round(3)
                %td= "#{(mfs.file_size / (2 ** 20).to_f).round(2)}MB"
      - else
        %p
          %b Original Media File:
          = mfg.original_media_file.to_s

%h2.subtitle Icon
.box
  %div{style: "margin-left: 20px"}
    %table.table
      %thead
        %tr
          %th{rowspan: 2} ID
          %th Program
          %th Format
          %th Icon Image
          %th mime_type
          %th width
          %th height
        %tr
          %th x_position
          %th y_position
          %th offset
          %th duration
          %th Default Text
          %th URL
      %tbody
        - @creative.vast_structure.linear_structures.first.icon_structures.each do |is|
          %tr
            %td{rowspan: 2}= is.id
            %td= is.program
            %td= is.icon_resource.format
            %td= link_to(image_tag(is.icon_resource.icon_url, height: "100"), is.icon_resource.icon_url)
            %td= is.icon_resource.mime_type
            %td= is.icon_resource.width
            %td= is.icon_resource.height
          %tr
            %td= is.x_position.presence || "--"
            %td= is.y_position.presence || "--"
            %td= is.offset.presence || "--"
            %td= is.duration.presence || "--"
            %td= is.icon_resource.ov_default_text.presence || "--"
            %td= is.icon_resource.qr_url.presence || "--"

%br
%h2.subtitle VAST Output
%p
  vast url:
  = vast_xml_creative_url(@creative)
%p
  option it: アイコンオーバーレイテキスト

%textarea.textarea{cols: 80, rows: 30}
  = @creative.vast_structure.to_vast_xml
%br
= link_to 'Edit', edit_creative_path(id: @creative)
\|
= link_to 'Back', creatives_path
