<!DOCTYPE html>
<html>
  <head>
    <title>SerialVastGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar is-white">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item brand-text" href="../creatives">Serial VAST Generator</a>
        </div>
        <div id="navMenu" class="navbar-menu has-text-weight-bold">
          <div class="navbar-start">
            <a class="navbar-item" href="../creatives/new">New</a>
          </div>
          <div class="navbar-end">
            <a class="navbar-item" href="https://googleads.github.io/googleads-ima-html5/vsi/" target="_blank">IMA SDK Inspector</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
